
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .cartHeader {
    h2 {
      margin: 0;
    }
  }

  .cartItems {
    flex: 1;
    overflow: auto;

    /* Скрыть скроллбар */
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    /* Отобразить скроллбар при наведении */
    &:hover::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      transition: background-color 0.2s ease-in-out;
    }
  }

  .cartTotalBlock {

    ul {
      margin: 20px 0;

      li {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;

        div {
          flex: 1;
          height: 1px;
          border-bottom: 1px dashed #dfdfdf;
          position: relative;
          top: -4px;
          margin: 0 7px;
        }

      }
    }

    .cartOfferButton {
      color: white;

      height: 50px;

      width: 100%;

      position: relative;

      border: 0;
      border-radius: 18px;

      cursor: pointer;

      transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        background: lighten(#fcb53f, 5%);
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);

        img {
          transform: translateX(5px);
        }

      }

      &:active {
        background: darken(#fcb53f, 5%);
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
        transform: translateY(1px);

        img {
          transform: translateX(15px);
        }

      }

      p {
        font-size: 16px;
        font-weight: 500;
        margin-right: 20px;

        img {
          position: absolute;
          right: 45px;
          top: 19px;

          transition: transform 0.2s ease-in-out;

        }

      }

    }
  }
}